<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>DNI</th>
            <th>NOMBRE</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let chofer of choferList">
            <td>{{chofer.id}}</td>
            <td>{{chofer.dni}}</td>
            <td>{{chofer.nombre}}</td>
            <td><button (click)="view(chofer, ver)">Editar</button></td>
            <td><button (click)="delete(chofer.id)">Borrar</button></td>
        </tr>
    </tbody>
</table><br>

<form [formGroup]="choferForm">
    
    <p>NOMBRE</p><input class="form-control" formControlName="nombre"/>
    <p style="color: red" *ngIf="nombre.touched && nombre.errors?.required">Campo obligatorio</p><br>

    <p>DNI</p><input class="form-control" formControlName="dni"/>
    <p style="color: red" *ngIf="nombre.touched && nombre.errors?.required">Campo obligatorio</p><br>

    <div style="text-align: center" colspan="2"><button (click)="save()">Agregar</button></div>
</form>

<ng-template #ver let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Editar chofer</h5>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <p>ID</p>
        <input class="form-control" [(ngModel)]="id2" readonly /><br>
        <p>DNI</p>
        <input class="form-control" [(ngModel)]="dni2" ngbAutofocus/><br>
        <p>Nombre</p>
        <input class="form-control" [(ngModel)]="nombre2" ngbAutofocus/>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Update</button>
    </div>
</ng-template>